{% extends "dashboard/base.html" %}

{% block content %}
<h1>Добро пожаловать в личный кабинет!</h1>
<br><br><br>

<form method="POST">
        {% csrf_token %}

<!--            <label>Введите ник</label><br>-->
    <h4><label for="basic-url">Ваша страница пожертвований:</label></h4>
    <br>
    <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">https://g.zbronica.ru/r/</span>
  </div>
<input class="form-control" id="basic-url" aria-describedby="basic-addon3" type= "text" placeholder="Псевдоним" value="{{request.user}}" name="newusername">
</div>

<!--    <div class="input-group mb-3">-->
<!--  <div class="input-group-prepend">-->
<!--    <span class="input-group-text" id="basic-addon1"></span>-->
<!--  </div>-->
<!--  <input type="text" class="form-control" placeholder="Username" aria-label="Username" id="name" aria-describedby="basic-addon1" value="{{request.user}}">-->
<!--</div>-->

<!--            <input type="text" name="newusername" value="{{person.username}}" />-->
<!--        </p>-->
        <input type="submit" class="btn btn- " value="Сохранить" >
</form>

{% if error %}
{{error}}
{% endif %}

{% endblock %}
