{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<!--<table class="table">-->
<!--    <tr>-->
<!--        <td>Имя пользователя</td>-->
<!--        <td>Сумма, RUB</td>-->
<!--        <td>Сообщение</td>-->
<!--        <td>Дата и время</td>-->
<!--        <td></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>user_1</td>-->
<!--        <td>100</td>-->
<!--        <td>тестовое сообщение №1</td>-->
<!--        <td>20.05.2020 14:01:07</td>-->
<!--        <td></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>user_2</td>-->
<!--        <td>2000</td>-->
<!--        <td>тестовое сообщение №2</td>-->
<!--        <td>20.05.2020 14:03:55</td>-->
<!--        <td></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>user_3</td>-->
<!--        <td>50</td>-->
<!--        <td>тестовое сообщение №3</td>-->
<!--        <td>20.05.2020 14:05:09</td>-->
<!--        <td></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>user_4</td>-->
<!--        <td>22</td>-->
<!--        <td>тестовое сообщение №4</td>-->
<!--        <td>20.05.2020 14:10:22</td>-->
<!--        <td></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>user_5</td>-->
<!--        <td>250</td>-->
<!--        <td>тестовое сообщение №5</td>-->
<!--        <td>20.05.2020 14:11:11</td>-->
<!--        <td></td>-->
<!--    </tr>-->
<!--</table>-->



    <h2>Мои сообщения:</h2>
    <br>
    {% if messages.count == 0 %}<h6>Найдено 0 сообщений на сумму 0 RUB</h6>{% endif %}
    {% if total_sum != 0 %}{% if messages.count == 1 %}<h6>Найдено {{ amount_messages }} сообщение на сумму {{ total_sum }} RUB</h6>{% endif %}{% endif %}
    {% if total_sum != 0 %}{% if messages.count > 1 %}{% if messages.count < 5 %}<h6>Найдено {{ amount_messages }} сообщения на сумму {{ total_sum }} RUB</h6>{% endif %}{% endif %}{% endif %}
    {% if total_sum != 0 %}{% if messages.count > 4 %}<h6>Найдено {{ amount_messages }} сообщений на сумму {{ total_sum }} RUB</h6>{% endif %}{% endif %}




    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Фильтр по времени:
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{% url 'myMessages' %}">За всё время</a>
        <a class="dropdown-item" href="{% url 'MessagesFilter' fpk=1 %}">За 24 часа</a>
        <a class="dropdown-item" href="{% url 'MessagesFilter' fpk=2 %}">За 7 дней</a>
        <a class="dropdown-item" href="{% url 'MessagesFilter' fpk=3 %}">За 30 дней</a>
        <a class="dropdown-item" href="{% url 'MessagesFilter' fpk=4 %}">За текущий год</a>
      </div>
    </div>
<br>



<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Имя пользователя</th>
        <th scope="col">Cумма</th>
        <th scope="col">Валюта</th>
        <th scope="col">Комиссия</th>
<!--        <th scope="col">Конечная сумма</th>-->
        <th scope="col">Текст</th>
        <th scope="col">Дата и время</th>
<!--        <th scope="col"></th>-->
    </tr>
    </thead>
    <tbody>
        {% if messages.count > 0 %}
    <tr>
        {% for trunk in messages %}
        <th scope="row">{{ trunk.id }}</th>
        <td>{{ trunk.name }}</td>
        <td>{{ trunk.amount }}</td>
        <td>{{ trunk.currency }}</td>
        <td>{{ trunk.comiss_end }}</td>
<!--        <td>{{ trunk.amount_end }}</td>-->
        <td>{{ trunk.text }}</td>
        <td>{{ trunk.date|date:"d.m.y" }}{{ trunk.date|time:" H:i:s" }}</td>

    </tr>
    {% endfor %}
    </tbody>

</table>
{% endif %}



{% for massages in InPut %}

{% endfor %}
{% endblock %}
