{% extends "dashboard/base.html" %}

{% block content %}


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="">Осуществить вывод средств</button>
              {% if error %}
                    <div class="form-group row">
            <label class="p-3 col-form-label">{{error}}</label>
          </div>

              {% endif %}
<form action="." method="post">
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Настройка выплат</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Платёжная система</label>
            <label class="col-sm-8 col-form-label">{{ form.payment_method }}</label>

<!--            <select class="form-control col-sm-8">-->
<!--              <option>VK pay</option>-->
<!--              <option>Банковская карта - Россия</option>-->
<!--            </select>-->
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Мин сумма вывода</label>
            <label class="col-sm-8 col-form-label">1 RUB</label>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Макс сумма вывода</label>
            <label class="col-sm-8 col-form-label">15 000 RUB</label>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Комиссия</label>
            <label class="col-sm-8 col-form-label">2%</label>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Сумма вывода</label>
            <label class="col-sm-8 col-form-label">{{ form.amount }}</label>

          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">ID получателя</label>
            <div class="col-sm-8">
            <label class="col-sm-8 col-form-label">{{ form.recipient }}</label>
            </div>
          </div>
    {% csrf_token %}




<!--    <input type="number" name="amount" placeholder="Your amount:">-->
<!--    <input type="submit" value="Save"/>-->


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ОТМЕНА</button>
        <button class="btn btn-primary" type="submit">ОСУЩЕСТВИТЬ</button>
      </div>
    </div>
  </div>
</div>
</form>
<br>
<br>
<!--<table class="table">-->
<!--    <tr>-->
<!--        <td>№</td>-->
<!--        <td>Получатель</td>-->
<!--        <td>Сумма, RUB</td>-->
<!--        <td>Система</td>-->
<!--        <td>Дата и время</td>-->
<!--        <td>Статус</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>5</td>-->
<!--        <td>***</td>-->
<!--        <td>20</td>-->
<!--        <td>банковская карта - россия</td>-->
<!--        <td>20.05.2020 15:05:36</td>-->
<!--        <td>успешно</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>4</td>-->
<!--        <td>***</td>-->
<!--        <td>100</td>-->
<!--        <td>банковская карта - россия</td>-->
<!--        <td>20.05.2020 14:59:33</td>-->
<!--        <td>успешно</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>3</td>-->
<!--        <td>11810761</td>-->
<!--        <td>250</td>-->
<!--        <td>vk pay</td>-->
<!--        <td>20.05.2020 14:41:07</td>-->
<!--        <td>успешно</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>2</td>-->
<!--        <td>11810761</td>-->
<!--        <td>500</td>-->
<!--        <td>vk pay</td>-->
<!--        <td>20.05.2020 14:30:52</td>-->
<!--        <td>ошибка</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>1</td>-->
<!--        <td>11810761</td>-->
<!--        <td>3000</td>-->
<!--        <td>vk pay</td>-->
<!--        <td>20.05.2020 14:22:21</td>-->
<!--        <td>ошибка</td>-->
<!--    </tr>-->
<!--</table>-->
<!--<h2> Вывод средств:</h2>-->
<!--<form action="." method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--&lt;!&ndash;    <input type="number" name="amount" placeholder="Your amount:">&ndash;&gt;-->
<!--    <input type="submit" value="Save"/>-->
<!--</form>-->


   <h2>Выведенные средства:</h2>
    {% if out.count > 0 %}
    <table class="table">
        <tr><th>Id</th><th>Получатель</th><th>Сумма</th><th>Тип валюты</th><th>Способ вывода</th><th>Комиссия</th><th>Конечная сумма</th><th>Дата и время</th><th>Статус</th></tr>
        {% for trunk in out %}
        <tr>
            <td>{{ trunk.id }}</td>
<!--            <td>{{ trunk.user }}</td>-->
            <td>{{ trunk.recipient }}</td>

            <td>{{ trunk.amount }} </td>
            <td>{{ trunk.currency }}</td>
            <td>{{ trunk.payment_method }}</td>
            <td>{{ trunk.comiss }}</td>
            <td>{{ trunk.amount_end }}</td>
            <td>{{ trunk.date }}</td>
            <td>{{ trunk.status }}</td>


<!--            <td><a href="edit/{{trunk.id}}">Изменить</a> | <a href="delete/{{trunk.id}}">Удалить</a></td>-->
        </tr>
        {% endfor %}
    </table>
 {% endif %}
{% for massages in InPut %}

{% endfor %}
{% endblock %}
