{% extends "dashboard/base.html" %}

{% block content %}
<h1>Это прототип системы пожертвований.</h1>
<h3><p>Для просмотра пожертвований полученных Вами, перейдите во вкладку "Мои сообщения"</p></h3>
<h3><p>Для просмотра выведенных средств перейдите во вкладку "Мои выплаты"</p></h3>
<h3><p>Для вывода средств, перейдите на вкладку "Маи"</p></h3>
<h3><p>Ваш текущий баланс указан на верхней панели</p></h3>
<h3><p>Для выхода нажмите на кнопку "Выйти", расположенной на верхней панели</p></h3>
<h3><p>Для связи, перейдите на вкладку "Контакты"</p></h3>
{% endblock %}
