{% extends "dashboard/base.html" %}

{% block content %}
My messages
<body class="container">
<form method="POST" action="create/">
        {% csrf_token %}
        <p>
            <label>Введите имя</label><br>
            <input type="text" name="nickname" />
        </p>
        <input type="submit" value="Сохранить" >
    </form>
    {% if people.count > 0 %}
    <h2>Список пользователей</h2>
    <table>
        <tr><th>Id</th><th>Имя</th></tr>
        {% for person in people %}
        <tr>
            <td>{{ person.id }}</td>
            <td>{{ person.username }}</td>

            <td><a href="edit/{{person.id}}">Изменить</a> | <a href="delete/{{person.id}}">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
    {% endif %}
{% for massages in InPut %}

{% endfor %}
{% endblock %}
